.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(91, 115, 139); 
    
}

.horizontal {
    float: left;
}

.changeColor {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.changeColor:hover {
    background-color: rgb(20, 92, 105);
}
